<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="org.rh.example.config.LogbackStartupListener"/>
    <property resource="application.properties" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.FileAppender">
        <file>${java.logger.executor.log_dir}/${JAVA_LOGGER_LOG_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <!--Log DEBUG logs to file and only show INFO in STDOUT-->
    <springProfile name="default">
        <logger name="org.rh.example" level="debug">
            <appender-ref ref="SAVE-TO-FILE"/>
        </logger>
        <root level="debug">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

</configuration>